<ion-header [translucent]="true">
  <ion-toolbar color="orange">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Please, enter your details!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="First Name" labelPlacement="floating" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Last Name" labelPlacement="floating" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" labelPlacement="floating" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirm Password" labelPlacement="floating" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Phone Number" labelPlacement="floating" type="tel"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="light">Register</ion-button>
</ion-content>